body{
    font-family:"MuseoModerno";
}

.container{
    display:flex;
    flex-direction:column;
    padding:20px;
    border:solid;
    border-radius:10px;
    width:300px;
}

p{
    cursor:pointer;
}

.highlight{
    color:rgba(0, 145, 255, 0.737);
    text-decoration:underline;
}

.hidden{
    display:none;
}

input{
    margin:10px;
}

.selector{
    display:flex;
    flex-direction:row;
    gap:10px;
}

.active{
    display:flex;
    flex-direction:column;
}

input{
    height:20px;
    border:solid;
    border-width: 2px;
    border-radius:5px;
}

button{
    width:fit-content;
    padding:10px;
    border-radius:10px;
    background-color: transparent;
    font-family:"MuseoModerno";
}